@model REQUEST.Models.View_Req_PG

@{
    ViewBag.Title = "Details";
}
<center>
    <h2>รายละเอียดการขอโปรแกรมคอมพิวเตอร์</h2>
</center>
<div>

    <input type="button" class="btn btn-info" value="กลับไปหน้ารายการ" onclick="location.href='@Url.Action("Index", "tbl_Req_AF")'" />

</div>

<div class="container">

    <table class="table table-bordered table-striped">

        <tbody style="font-size:16px;">

            <tr>

                <td>

                    <b>   รหัสพนักงาน </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.USER_NO)
                </td>

            </tr>

            <tr>
                <td>
                    <b>  ชื่อ-สกุล(ไทย) </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.USER_NAME)
                </td>

            <tr>
                <td>
                    <b>  ชื่อ-สกุล(อังกฤษ) </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.NAME_ENG)
                </td>
            <tr>
                <td>
                    <b>  ตำแหน่ง </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.PROSITION)
                </td>

            <tr>
                <td>
                    <b>   ฝ่าย </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.DEPARTMENT)
                </td>

            <tr>
                <td>
                    <b>  เบอร์ติดต่อ </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.USER_EXTENSION)
                </td>
            </tr>

            <tr>
                <td>
                    <b>  สถานะของงาน </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.STA_DESCRIPTION)
                </td>

            </tr>

            <tr>
                <td>
                    <b>  งาน </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.PG_Work)
                </td>

            </tr>
            <tr>
                <td>
                    <b>  ปัญหา </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.PG_Problem)
                </td>

            </tr>
            <tr>
                <td>
                    <b>  ความต้องการ</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.PG_Requirement)
                </td>

            </tr>
            <tr>
                <td>
                    <b>  ความถี่ในการใช้งาน </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.PG_Frequency)
                </td>

            </tr>
            <tr>
                <td>
                    <b>  ต้องการใช้วันที่ </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.PG_Date_start)
                </td>

            </tr>

            


</table>
</div>