@model IEnumerable<REQUEST.Models.View_Req_PG_Trace>

@{
    ViewBag.Title = "Trace";
}
    <center>
        <h2>ติดตามการขอโปรแกรมคอมพิวเตอร์</h2>
    </center>
<div class="float-right pull-pull-left col-md-4">
    <form class=" navbar-from pull-pull-left" role="search">
        <div class="input-group pull-pull-left">
            @Html.TextBox("Search", null, new { @class = "form-control", @placeholder = "Search..." })
            <div class=" input-group-btn">
                <button class=" btn btn-default pull-pull-left" type="submit"><i class=" glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>
</div>
<div class="col-md-3 col-sm-4">

    @Html.ActionLink(" Report ", "Report", "tbl_Req_Program", new { @class = "btn-warning btn-lg fa fa-file-o" })

</div>
<table class="table table-bordered table-hover text-nowrap fixed">
    <thead class="headTable" style="background-color: #82CAFA">
        <tr>

            <th>เลขเอกสาร</th>
            <th>รหัสพนักงาน</th>
            <th>สถานะงาน</th>
           
            <th>วันที่แจ้ง</th>
            <th>งาน</th>
            <th>ปัญหา</th>
            <th>ความต้องการ</th>
            <th>ความถี่ในการใช้งาน</th>
            <th>ต้องการใช้วันที่</th>

            <th>ผู้เปิดงาน</th>
            <th>ชื่อผู้เปิดงาน</th>
            <th>วันเปิดงาน</th>

            <th>ผู้ดำเนินงาน</th>
            <th>ชื่อดำเนินงาน</th>
            <th>วันดำเนินงาน</th>

            <th>วันปิดงาน</th>
            <th>ผู้ปิดงาน</th>
            <th>ชื่อปิดงาน</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
<tr>
    <td>

        <a href="@Url.Action("Details_Trace", "tbl_Req_Program", new { id = item.Req_PG_CODE })" style="color:#0000EE;"> @Html.DisplayFor(modelItem => item.Req_PG_CODE)</a>
    </td>

    <td>

        @Html.DisplayFor(modelItem => item.PG_DATE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.USER_NO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.STA_DESCRIPTION)
    </td>


    <td>
        @Html.DisplayFor(modelItem => item.PG_Work)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PG_Problem)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.PG_Requirement)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PG_Frequency)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PG_Date_start)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Req_OPEN_BY)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NAME_OPEN)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Req_OPEN_DATE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Req_ASSIGN_TO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NAME_ASSIGN)
    </td>


    <td>
        @Html.DisplayFor(modelItem => item.Req_ASSIGN_TO_DATE)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Req_CLOSE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NAME_CLOSE)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Req_CLOSE_DATE)
    </td>

    <td>
        @Html.ActionLink(" Print", "PrintPartialViewToPdf", null, new { id = item.Req_PG_CODE }, new { target = "_blank", @class = "btn btn-success glyphicon glyphicon-print" })

    </td>

</tr>
    }

</table>
