<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">

            <!-- Optionally, you can add icons to the links -->





            <li class="treeview">
                <a href="@Url.Action("Create", "tbl_Req_AF")">

                    <i class="fa fa-edit"></i><span> ALFRESCO</span>
                    <span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "tbl_Req_AF")"><i class="fa fa-file-text"></i> แบบฟอร์ม ALFRESCO</a></li>
                    <li><a href="@Url.Action("Trace", "tbl_Req_AF")"><i class="fa fa-file-text"></i>ติดตามALFRESCO</a></li>
                </ul>
            </li>


            <li class="treeview">
                <a href="@Url.Action("Create", "tbl_Req_SharDrive")">

                    <i class="fa fa-edit"></i><span>  Share Drive</span>
                    <span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "tbl_Req_SharDrive")"><i class="fa fa-file-text"></i>Share Drive</a></li>
                    <li><a href="@Url.Action("Trace", "tbl_Req_SharDrive")"><i class="fa fa-file-text"></i>ติดตาม Share Drive</a></li>
                </ul>
            </li>


            <li class="treeview">
                <a href="@Url.Action("Create", "tbl_Req_Program")">

                    <i class="fa fa-edit"></i><span> ขอโปรแกรม</span>
                    <span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "tbl_Req_Program")"><i class="fa fa-file-text"></i>ขอโปรแกรม</a></li>
                    <li><a href="@Url.Action("Trace", "tbl_Req_Program")"><i class="fa fa-file-text"></i>ติดตามขอโปรแกรม</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="@Url.Action("Create", "tbl_Req_Navi_HR")">

                    <i class="fa fa-edit"></i><span>  Navision HR</span>
                    <span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "tbl_Req_Navi_HR")"><i class="fa fa-file-text"></i> Navision HR</a></li>
                    <li><a href="@Url.Action("Trace", "tbl_Req_Navi_HR")"><i class="fa fa-file-text"></i>ติดตาม Navision HR</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="@Url.Action("Create", "tbl_Req_NAV")">

                    <i class="fa fa-edit"></i><span> การขอใช้ระบบ NAV</span>
                    <span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "tbl_Req_NAV")"><i class="fa fa-file-text"></i>การขอใช้ระบบ NAV</a></li>
                    <li><a href="@Url.Action("Trace", "tbl_Req_NAV")"><i class="fa fa-file-text"></i>ติดตามการขอใช้ระบบ NAV</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="@Url.Action("Create", "tbl_Req_PDJCOST01")">

                    <i class="fa fa-edit"></i><span> ขอใช้เครื่อง PDJCOST01</span>
                    <span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "tbl_Req_PDJCOST01")"><i class="fa fa-file-text"></i> ขอใช้เครื่อง PDJCOST01</a></li>
                    <li><a href="@Url.Action("Trace", "tbl_Req_PDJCOST01")"><i class="fa fa-file-text"></i>ติดตามขอใช้เครื่อง PDJCOST01</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="@Url.Action("Create", "tbl_Req_PDJMINI02")">

                    <i class="fa fa-edit"></i><span> ขอใช้เครื่อง PDJMINI 02</span>
                    <span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "tbl_Req_PDJMINI02")"><i class="fa fa-file-text"></i> ขอใช้เครื่อง PDJMINI 02</a></li>
                    <li><a href="@Url.Action("Trace", "tbl_Req_PDJMINI02")"><i class="fa fa-file-text"></i>ติดตามขอใช้เครื่อง PDJMINI 02</a></li>
                </ul>
            </li>



</section>
</aside>
