@model REQUEST.Models.View_Req_Navi_HR_Trace

@{
    ViewBag.Title = "Detail_Trace";
}
<center>

    <h2>ติดตามขอรหัสและเปลี่ยนแปลงสิทธิใช้ระบบ Navision HR & Payroll</h2>

</center>
<div>

    <input type="button" class="btn btn-info" value="กลับไปหน้ารายการ" onclick="location.href='@Url.Action("Trace", "tbl_Req_Navi_HR")'" />

</div>
<br >
<div class="container">

    <table class="table table-bordered table-striped">

        <tbody style="font-size:16px;">

            <tr>

                <td>

                    <b>   รหัสพนักงาน </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.USER_NO)
                </td>

            </tr>

            <tr>
                <td>
                    <b>  ชื่อ-สกุล(ไทย) </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.USER_NAME)
                </td>

            <tr>
                <td>
                    <b>  ชื่อ-สกุล(อังกฤษ) </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.NAME_ENG)
                </td>
            <tr>
                <td>
                    <b>  ตำแหน่ง </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.PROSITION)
                </td>

            <tr>
                <td>
                    <b>   ฝ่าย </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.DEPARTMENT)
                </td>

            <tr>
                <td>
                    <b>  เบอร์ติดต่อ </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.USER_EXTENSION)
                </td>
            </tr>

            <tr>
                <td>
                    <b> สิทธิการใช้งาน </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Allow_DESCRIPTION)
                </td>

            </tr>


            <tr>
                <td>
                    <b>  User login name </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Navi_HR_User_Log_In)
                </td>

            </tr>
            <tr>
                <td>
                    <b>  วัตถุประสงค์ในการใช้งาน </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Navi_HR_Detail)
                </td>

            </tr>

            <tr>
                <td>
                    <b>  รหัสพนักงานผู้แจ้ง </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Navi_HR_REQUESTER)
                </td>
            </tr>

            <tr>
                <td>
                    <b>  ชื่อผู้แจ้ง </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.NAME_REQUESTER)
                </td>
            </tr>
            <tr>
                <td>
                    <b>  ตำแหน่งผู้แจ้ง </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.PROSITION_REQUESTER)
                </td>
            </tr>
            <tr>
                <td>
                    <b>  ฝ่ายผู้แจ้ง </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.DEPARTMENT_REQUESTER)
                </td>
            </tr>
            <tr>
                <td>
                    <b>  เบอร์ผู้แจ้ง </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.EXTENSION_REQUESTER)
                </td>
            </tr>



            <tr>
                <td>
                    <b>  วันที่แจ้ง </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Navi_HR_REQUESTER_DATE)
                </td>

            <tr>
                <td>
                    <b>  สถานะของงาน </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.STA_DESCRIPTION)
                </td>

            </tr>
            <tr>
                <td>
                    <b>  อนุมัติโดย (หัวหน้า) </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Navi_HR_APPROVER)
                </td>

            <tr>
                <td>
                    <b>  ชื่อผู้อนุมัติ (หัวหน้า) </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.NAME_APPROVER)
                </td>
            <tr>
                <td>
                    <b>  ตำแหน่งผู้อนุมัติ (หัวหน้า)</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.PROSITION_APPROVER)
                </td>
            <tr>
                <td>
                    <b>  ฝ่ายผู้อนุมัติ (หัวหน้า) </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.DEPARTMENT_APPROVER)
                </td>
            <tr>
                <td>
                    <b>  เบอร์ผู้อนุมัติ (หัวหน้า) </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.EXTENSION_APPROVER)
                </td>
            <tr>
                <td>
                    <b>  วันอนุมัติ </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Navi_HR_APPROVER_DATE)
                </td>
            <tr>
                <td>
                    <b>วันที่เปิดงาน</b>
                </td>

                <td>
                    @Html.DisplayFor(model => model.Req_OPEN_DATE)
                </td>
            </tr>
            <tr>
                <td>
                    <b> ผู้เปิดงาน</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Req_OPEN_BY)
                </td>
            </tr>
            <tr>
                <td>
                    <b> ชื่อผู้เปิดงาน</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.NAME_OPEN)
                    @Html.DisplayFor(model => model.SURNAME_OPEN)
                </td>
            </tr>
            <tr>
                <td>
                    <b> เบอร์ผู้เปิดงาน</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.EXTENSION_OPEN)

                </td>
            </tr>

            <tr>
                <td>
                    <b>วันที่ดำเนินงาน</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Req_ASSIGN_TO_DATE)
                </td>
            </tr>
            <tr>
                <td>
                    <b>ผู้ดำเนินงาน</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Req_ASSIGN_TO)

                </td>
            </tr>
            <tr>
                <td>
                    <b>ชื่อผู้ดำเนินงาน</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.NAME_ASSIGN)
                    @Html.DisplayFor(model => model.SURNAME_ASSIGN)
                </td>
            </tr>
            <tr>
                <td>
                    <b>เบอร์ผู้ดำเนินงาน</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.EXTENSION_ASSIGN)

                </td>
            </tr>

            <tr>
                <td>
                    <b> วันปิดงาน</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Req_CLOSE_DATE)
                </td>
            </tr>
            <tr>
                <td>
                    <b>ผู้ปิดงาน</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Req_CLOSE)
                </td>
            </tr>
            <tr>
                <td>
                    <b>ชื่อผู้ปิดงาน</b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.NAME_CLOSE)
                    @Html.DisplayFor(model => model.SURNAME_CLOSE)
                </td>
            </tr>

</table>
</div>