@model IEnumerable<REQUEST.Models.View_Req_Navi_HR>

@{
    ViewBag.Title = "Index";
}
    <center>

        <h2>รายการขอรหัสและเปลี่ยนแปลงสิทธิใช้ระบบ Navision HR & Payroll</h2>

    </center>
    <div class="float-right pull-left col-md-4">
        <form class=" navbar-from pull-left" role="search">
            <div class="input-group pull-left">
                @Html.TextBox("Search", null, new { @class = "form-control", @placeholder = "Search..." })
                <div class=" input-group-btn">
                    <button class=" btn btn-default pull-left" type="submit"><i class=" glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <input type="button" class="btn btn-info" value="กรอกข้อมูล" onclick="location.href='@Url.Action("Create", "tbl_Req_Navi_HR")'" />
    <table class="table table-bordered table-hover text-nowrap fixed">
        <thead class="headTable" style="background-color: #82CAFA">
            <tr>
                <th></th>

                <th>เลขเอกสาร</th>
                <th>รหัสพนักงาน</th>
                <th>ชื่อ-สกุล</th>
                <th>ตำแหน่ง</th>
                <th>ฝ่าย</th>
                <th>เบอร์</th>
                <th>สิทธิการเข้าถึง</th>
                <th>สถานะของงาน</th>
                <th>User Log In Name</th>
                <th>วัตถุประสงค์ในการใช้ระบบ</th>
                <th>วันที่แจ้ง</th>
                <th>รหัสพนักงานผู้แจ้ง</th>
                <th>ชื่อผู้แจ้ง</th>
               


            </tr>
        </thead>
        @foreach (var item in Model)
        {
    <tr>
        <td>
            @if (Session["USER_ROLE"].ToString() == "MANAGER")
            {
                @Html.ActionLink(" ", "Edit", "tbl_Req_Navi_HR", new { id = item.Req_Navi_HR_CODE }, new { @class = "btn btn-success btn-sm fa fa-check" })
            }
        </td>
        <td>
            <a href="@Url.Action("Details", "tbl_Req_Navi_HR", new { id = item.Req_Navi_HR_CODE })" style="color:#0000EE;"> @Html.DisplayFor(modelItem => item.Req_Navi_HR_CODE)</a>
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.USER_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USER_NAME)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.PROSITION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPARTMENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USER_EXTENSION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Allow_DESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STA_DESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Navi_HR_User_Log_In)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Navi_HR_Detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Navi_HR_REQUESTER_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Navi_HR_REQUESTER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAME_REQUESTER)
        </td>

    </tr>
           
        }

    </table>
