@model REQUEST.Models.tbl_Req_PDJCOST01

@{
    ViewBag.Title = "Edit";
}
<center>

    <h2>อนุมัติการขอและยกเลิกสิทธิการใช้เครื่อง PDJCOST01</h2>

</center>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Req_PDJ01_CODE)

        <div class="form-group">
            @Html.LabelFor(model => model.PDJ01_APPROVER, "รหัสพนักงานผู้อนุมัติ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PDJ01_APPROVER, new { htmlAttributes = new { @class = "form-control", @Value = Session["USER_NO"].ToString(), @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.PDJ01_APPROVER, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PDJ01_APPROVER_DATE, "วันที่อนุมัติ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PDJ01_APPROVER_DATE, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Now.ToShortDateString(), @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.PDJ01_APPROVER_DATE, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.REQ_STATUS, "สถานะของงาน", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">

                @Html.DropDownListFor(model => model.REQ_STATUS, new List<SelectListItem>
        {

        new SelectListItem{ Text="ลงทะเบียน", Value="01"},
        new SelectListItem { Text="อนุมัติ", Value="02" },
       }, "กรุณาเลือก", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.REQ_STATUS, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Allow_STATUS, "สิทธิการใช้งาน", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Allow_STATUS, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.Allow_STATUS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.USER_NO, "รหัสพนักงาน", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.USER_NO, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.USER_NO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Color_Picture, "Color Picture (O:)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Color_Picture, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.Color_Picture, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quotation, "Quotation :Quotation$(x)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Quotation, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.Quotation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Spec_Sheet, "Spec Sheet :SpSheet$(y)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Spec_Sheet, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.Spec_Sheet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Produce_Prices, "แผนกจัดทำราคาสินค้า :Price$(w)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Produce_Prices, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.Produce_Prices, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product_Analysis, "Product Analysis (P:)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Product_Analysis, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.Product_Analysis, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Line_Drawing, ">Line Drawing (Q:)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Line_Drawing, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.Line_Drawing, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PDJ01_REQUESTER, "รหัสพนักงานผู้แจ้ง", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.PDJ01_REQUESTER, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.PDJ01_REQUESTER, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PDJ01_REQUESTER_DATE, "วันที่แจ้ง", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.PDJ01_REQUESTER_DATE, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.PDJ01_REQUESTER_DATE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ยืนยัน" class="btn btn-default" style="background-color:#84cee8" />
            </div>
        </div>
    </div>
}

