@model IEnumerable<REQUEST.Models.View_Req_PDJCOST01>

@{
    ViewBag.Title = "Index";
}
<center>
    <h2>การขอและยกเลิกสิทธิการใช้เครื่อง PDJCOST01</h2>

</center>
<div class="float-right pull-left col-md-4">
    <form class=" navbar-from pull-left" role="search">
        <div class="input-group pull-left">
            @Html.TextBox("Search", null, new { @class = "form-control", @placeholder = "Search..." })
            <div class=" input-group-btn">
                <button class=" btn btn-default pull-left" type="submit"><i class=" glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>
</div>

<input type="button" class="btn btn-info" value="กรอกข้อมูล" onclick="location.href='@Url.Action("Create", "tbl_Req_PDJCOST01")'" />

<table class="table table-bordered table-hover text-nowrap fixed">
    <thead class="headTable" style="background-color: #82CAFA">
        <tr>
            <th></th>
            <th><center>เลขเอกสาร</center></th>
            <th><center>รหัสพนักงาน</center></th>
            <th>ชื่อ-สกุล</th>
            <th>ตำแหน่ง</th>
            <th>ฝ่าย</th>
            <th>เบอร์</th>
            <th>สิทธิการใช้งาน</th>

            <th>สถานะของงาน</th>
            <th><center>Color Picture<br> (O:)</center> </th>
            <th><center>Quotation<br>Quotation$(y)</center></th>
            <th><center>Spec Sheet <br>SpSheet$(y)</center></th>
            <th><center>แผนกจัดทำราคาสินค้า <br>Price$(w)</center></th>
            <th><center>Product Analysis<br>(P:)</center></th>
            <th><center>Line Drawing <br>(Q:)</center></th>
            <th>วันที่แจ้ง</th>
            <th>รหัสพนักงานผู้แจ้ง</th>
            <th><center>ชื่อผู้แจ้ง</center></th>

        </tr>
    </thead>


    @foreach (var item in Model)
    {
<tr>
    <td>
        @if (Session["USER_ROLE"].ToString() == "MANAGER")
        {
            @Html.ActionLink(" ", "Edit", "tbl_Req_PDJCOST01", new { id = item.Req_PDJ01_CODE }, new { @class = "btn btn-success btn-sm fa fa-check" })
        }
    </td>
    <td>
        <a href="@Url.Action("Details", "tbl_Req_PDJCOST01", new { id = item.Req_PDJ01_CODE})" style="color:#0000EE;"> @Html.DisplayFor(modelItem => item.Req_PDJ01_CODE)</a>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.USER_NO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.USER_NAME)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PROSITION)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DEPARTMENT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.USER_EXTENSION)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Allow_DESCRIPTION)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.STA_DESCRIPTION)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Color_Picture)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quotation)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Spec_Sheet)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Produce_Prices)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Product_Analysis)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Line_Drawing)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PDJ01_REQUESTER_DATE)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.PDJ01_REQUESTER)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NAME_REQUESTER)
    </td>

</tr>

    }

</table>
