@model REQUEST.Models.View_Req_SD_Trace

@{
    ViewBag.Title = "Details_Trace";
}
<center>
    <h2>รายละเอียดติดตามการขอสิทธิและยกเลิกรหัสผู้ใช้ เพื่อเข้าสู่Share Drive</h2>
</center>

<input type="button" class="btn btn-info" value="กลับไปหน้าติดตาม" onclick="location.href='@Url.Action("Trace", "tbl_Req_AF")'" />

<div>
    <div class="container">

        <table class="table table-bordered table-striped">

            <tbody style="font-size:16px;">
                <tr>
                <tr>

                    <td>
                        <b> รหัสพนักงาน</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.USER_NO)
                    </td>

                </tr>

                <tr>
                    <td>
                        <b> ชื่อ(ไทย)</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.USER_NAME)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>ชื่อ(อังกฤษ)</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.NAME_ENG)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>ตำแหน่ง</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PROSITION)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b> ฝ่าย</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.DEPARTMENT)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b> เบอร์ติดต่อ</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.USER_EXTENSION)
                    </td>
                </tr>




                <tr>
                    <td>
                        <b>สิทธิการใช้งาน</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Allow_DESCRIPTION)
                    </td>
                </tr>



                <tr>
                    <td>
                        <b> Drive</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.SD_Drive)
                    </td>
                </tr>

                <tr>
                    <td>
                        <b>Folder</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.SD_Folder)
                    </td>
                </tr>
                <tr>

                <tr>
                    <td>
                        <b>สิทธิการเข้าถึง</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Authen_DESCRIPTION)
                    </td>
                </tr>
                <tr>

                    <td>
                        <b>หมายเหตุ</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.SD_Note)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>วันที่แจ้ง</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.SD_DATE)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b> รหัสพนักงานผู้แจ้ง</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.SD_REQUESTER)
                    </td>
                </tr>

                <tr>
                    <td>
                        <b> ชื่อผู้แจ้ง</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.NAME_REQUESTER)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b> ตำแหน่งผู้แจ้ง</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PROSITION_REQUESTER)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b> ฝ่ายผู้แจ้ง</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.DEPARTMENT_REQUESTER)
                    </td>
                </tr>

                <tr>
                    <td>
                        <b> เบอร์ผู้แจ้ง</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.EXTENSION_REQUESTER)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>สถานะของงาน</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.STA_DESCRIPTION)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>  ผู้อนุมัติ (หัวหน้า)</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.SD_APPROVER)
                    </td>
                <tr>
                    <td>
                        <b>  ชื่อผู้อนุมัติ (หัวหน้า)</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.NAME_APPROVER)
                    </td>
                <tr>
                    <td>
                        <b>  ตำแหน่งผู้อนุมัติ (หัวหน้า)</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.PROSITION_APPROVER)
                    </td>
                <tr>
                    <td>
                        <b>  เบอร์ผู้อนุมัติ (หัวหน้า)</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.EXTENSION_APPROVER)
                    </td>

                <tr>
                    <td>
                        <b>  วันที่อนุมัติ </b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Date_APPROVER)
                    </td>

                <tr>
                    <td>
                        <b> วันที่เปิดงาน </b>
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Req_OPEN_DATE)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>ผู้เปิดงาน </b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Req_OPEN_BY)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b> ชื่อผู้เปิดงาน </b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.NAME_OPEN)
                        @Html.DisplayFor(model => model.SURNAME_OPEN)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b> เบอร์ผู้เปิดงาน </b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.EXTENSION_OPEN)

                    </td>
                </tr>


                <tr>
                    <td>
                        <b>วันที่ดำเนินงาน </b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Req_ASSIGN_TO_DATE)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b> ผู้ดำเนินงาน</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Req_ASSIGN_TO)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>ชื่อผู้ดำเนินงาน</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.NAME_ASSIGN)
                        @Html.DisplayFor(model => model.SURNAME_ASSIGN)
                    </td>
                </tr>

                <tr>
                    <td>
                        <b>เบอร์ผู้ดำเนินงาน</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.EXTENSION_ASSIGN)

                    </td>
                </tr>

                <tr>
                    <td>
                        <b>วันปิดงาน</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Req_CLOSE_DATE)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>ผู้ปิดงาน</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Req_CLOSE)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b> ชื่อผู้ปิดงาน</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.NAME_CLOSE)
                        @Html.DisplayFor(model => model.SURNAME_CLOSE)
                    </td>
                </tr>

                <tr>
                    <td>
                        <b> เบอร์ผู้ปิดงาน</b>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.EXTENSION_CLOSE)

                    </td>
                </tr>




</table>
    </div>






