@model REQUEST.Models.View_Req_AF

@{
    ViewBag.Title = "Details";
}

<center>
    <h2>รายละเอียดการขอสิทธิ ALFRESCO</h2>
</center>
<div>
    <input type="button" class="btn btn-info" value="กลับไปหน้ารายการ" onclick="location.href='@Url.Action("Index", "tbl_Req_AF")'" />
    

</div>
<br>
<div class="container">

    <table class="table table-bordered table-striped">

        <tbody style="font-size:16px;">

            <tr>

                <td>

                    <b>   รหัสพนักงาน </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.USER_NO)
                </td>

            </tr>

            <tr>
                <td>
                    <b>  ชื่อ-สกุล(ไทย) </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.USER_NAME)
                </td>

            <tr>
                <td>
                    <b>  ชื่อ-สกุล(อังกฤษ) </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.NAME_ENG)
                </td>
            <tr>
                <td>
                    <b>  ตำแหน่ง </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.PROSITION)
                </td>

            <tr>
                <td>
                    <b>   ฝ่าย </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.DEPARTMENT)
                </td>

            <tr>
                <td>
                    <b>  เบอร์ติดต่อ </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.USER_EXTENSION)
                </td>
            </tr>
            <tr>
                <td>
                    <b>  สิทธิการใช้งาน </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Allow_DESCRIPTION)
                </td>



            <tr>
                <td>
                    <b>   Site </b>
                <td>
                    @Html.DisplayFor(model => model.AF_Site)
                </td>
            <tr>
                <td>
                    <b>   Folder </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.AF_Folder)
                </td>
            <tr>
                <td>
                    <b>  สถานะสิทธิ </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.AF_STATUS_DESC)
                </td>

            <tr>
                <td>
                    <b>   หมายเหตุ </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.AF_Note)
                </td>
            <tr>
                <td>
                    <b>  รหัสพนักงานผู้แจ้ง </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.AF_REQUESTER)
                </td>
            </tr>
            <tr>
                <td>
                    <b>  วันที่แจ้ง </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.AF_DATE)
                </td>
            <tr>
                <td>
                    <b>  ชื่อผู้แจ้ง </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.NAME_REQUESTER)
                </td>
            </tr>
            <tr>
                <td>
                    <b>  ตำแหน่งผู้แจ้ง </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.PROSITION_REQUESTER)
                </td>
            </tr>
            <tr>
                <td>
                    <b>  ฝ่ายผู้แจ้ง </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.DEPARTMENT_REQUESTER)
                </td>
            </tr>
            <tr>
                <td>
                    <b>  เบอร์ผู้แจ้ง </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.EXTENSION_REQUESTER)
                </td>
            </tr>


            <tr>
                <td>
                    <b>  สถานะของงาน </b>
                </td>
                <td>
                    @Html.DisplayFor(model => model.STA_DESCRIPTION)
                </td>

            </tr>
    </table>

  
</div>
