@model  IEnumerable<REQUEST.Models.View_Req_AF_Trace>

@{
    Layout = null;
}

    <h2 align="lg">แบบฟอร์มการขอและยกเลิกสิทธิ ALFRESCO</h2>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<table class="table table-bordered table-hover text-nowrap fixed">
   
    <tr bgcolor="ffd800">
        <th><center>เลขเอกสาร</center></th>

        <th>รหัสพนักงาน</th>
        <th>ชื่อ-สกุล</th>
        <th>สิทธิการใช้งาน</th>
        <th>สถานะของงาน</th>
        <th>วันที่แจ้ง</th>
        <th>Site</th>
        <th>Folder</th>
        <th>สถานะสิทธิ</th>
        

        <th>รหัสพนักงานผู้แจ้ง</th>
        <th>ชื่อผู้แจ้ง</th>

        <th>ชื่อผู้อนุมัติ</th>
        <th>วันที่อนุมัติ</th>

        <th>ผู้เปิดงาน</th>
        <th>ชื่อผู้เปิดงาน</th>
        <th>วันเปิดงาน</th>
        <th>ผู้ดำเนินงาน</th>
        <th>ชื่อผู้ดำเนินงาน</th>
        <th>วันดำเนินงาน</th>
        <th>ผู้ปิดงาน</th>
        <th>ชื่อผู้ปิดงาน</th>
        <th>วันปิดงาน</th>




    </tr>
  

    @foreach (var item in Model)
    {

<tr>

    <td>
        <center>  @Html.DisplayFor(modelItem => item.Req_AF_CODE)</center>
    </td>
    <td>
        <center>  @Html.DisplayFor(modelItem => item.USER_NO)</center>
    </td>
    <td>
        <center>@Html.DisplayFor(modelItem => item.USER_NAME)</center>
    </td>

    <td>
        <center>@Html.DisplayFor(modelItem => item.Allow_DESCRIPTION)</center>
    </td>

    <td>
        <center> @Html.DisplayFor(modelItem => item.STA_DESCRIPTION)</center>
    </td>
    <td>
        <center> @Html.DisplayFor(modelItem => item.AF_DATE)</center>
    </td>

    <td>
        <center>@Html.DisplayFor(modelItem => item.AF_Site)</center>
    </td>
    <td>
        <center>@Html.DisplayFor(modelItem => item.AF_Folder)</center>
    </td>
    <td>
        <center>@Html.DisplayFor(modelItem => item.AF_STATUS_DESC)</center>
    </td>
  
    <td>
        <center>@Html.DisplayFor(modelItem => item.AF_REQUESTER)</center>
    </td>

    <td>
        <center>@Html.DisplayFor(modelItem => item.NAME_REQUESTER)</center>
    </td>
    <td>
        <center>@Html.DisplayFor(modelItem => item.NAME_APPROVER)</center>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date_APPROVER)
    </td>
    <td>
        <center>@Html.DisplayFor(modelItem => item.Req_OPEN_BY)</center>
    </td>
    <td>
        <center> @Html.DisplayFor(modelItem => item.NAME_OPEN)</center>
    </td>

    <td>
        <center>@Html.DisplayFor(modelItem => item.Req_OPEN_DATE)</center>
    </td>
    <td>
        <center>@Html.DisplayFor(modelItem => item.Req_ASSIGN_TO)</center>
    </td>
    <td>
        <center> @Html.DisplayFor(modelItem => item.NAME_ASSIGN)</center>
    </td>

    <td>
        <center>@Html.DisplayFor(modelItem => item.Req_ASSIGN_TO_DATE)</center>
    </td>


    <td>
        <center> @Html.DisplayFor(modelItem => item.Req_CLOSE)</center>
    </td>
    <td>
        <center> @Html.DisplayFor(modelItem => item.NAME_CLOSE)</center>
    </td>


    <td>
        <center>  @Html.DisplayFor(modelItem => item.Req_CLOSE_DATE)</center>
    </td>




</tr>

    }


</table>
